*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,#1c1c1f,#0d0c0e);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #eccbcb;
}
.hero h1{
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}
.hero h1 span{
    color: #6929ff8e;
}
textarea{
    width: 600px;
    height: 250px;
    background: #707074;
    color: #fff;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}